<nb-card size="medium">
  <nb-card-body>
    <div class="picture" style.background-image="url('assets/images/kitten-{{currentTheme}}.png')"></div>

    <div class="details">
      <div class="title">
       Duyuru Örnek
      </div>
      <div class="description">
          Suspendisse mattis eros ut lacus tempor, sit amet pretium nulla porta. 
          Pellentesque mattis, purus non eleifend sodales, nisi metus porta lectus, 
          et pharetra dolor nibh id mauris. 
          Praesent eros lacus, elementum ac metus in, 
          efficitur accumsan est. In vehicula quis felis ac auctor. 
          Maecenas in auctor turpis. Suspendisse massa ligula, viverra a dapibus mollis, 
          porta sit amet justo.
      </div>
    </div>
  </nb-card-body>


  <nb-card-footer>
    <a href="" target="_blank">
      <i class="ion-ios-world"></i>
    </a>
    <a href="" target="_blank">
      <i class="ion-social-apple"></i>
    </a>
    <a href="" target="_blank">
      <i class="ion-social-android"></i>
    </a>
    <a href="" target="_blank">
      <i class="ion-social-facebook"></i>
    </a>
  </nb-card-footer>
</nb-card>
