<nb-card size="medium">

  <nb-card-body>
    <div class="font-row font-secondary">
      <div class="header">
        <div class="name bold">
            <img src="assets/images/logo.png" alt="logo" style="height:100px;">
            Chai-Tenis</div>

        <div class="variants">
          <span class="font-w-light">Lorem ipsum dolor sit amet</span>
        </div>
      </div>
      <p>
        Interdum et malesuada fames ac ante ipsum primis in faucibus. 
        Nulla varius tortor a mi rutrum mollis. 
        Maecenas iaculis consequat sem. 
        Suspendisse faucibus vel neque id rhoncus. 
        Vestibulum non nibh augue. 
        Suspendisse mattis eros ut lacus tempor, sit amet pretium nulla porta. 
        Pellentesque mattis, purus non eleifend sodales, nisi metus porta lectus, 
        et pharetra dolor nibh id mauris. 
        Praesent eros lacus, elementum ac metus in, 
        efficitur accumsan est. In vehicula quis felis ac auctor. 
        Maecenas in auctor turpis. Suspendisse massa ligula, viverra a dapibus mollis, 
        porta sit amet justo.
      </p>
    </div>

    <div class="font-row font-main">
      <div class="header">
        <div class="name bold">Praesent lobortis</div>

        <div class="variants">
          <span class="font-w-light"></span>
        </div>
      </div>
      <p>
        Aliquam purus ex, viverra consectetur consectetur non, 
        lacinia sit amet arcu. Suspendisse quis euismod mi. 
        Proin rhoncus fermentum mauris non gravida. In laoreet consequat nibh eget vestibulum. 
        Quisque in lacus condimentum, pellentesque ex a, cursus orci. 
        In hac habitasse platea dictumst.
      </p>
    </div>
  </nb-card-body>
</nb-card>