<nb-card size="xsmall">


  <nb-card-body *ngIf="!detay">
    <div *ngIf="durum == 'geriSayim'">
      <div class="location">
        <span>Kalan Süreniz</span>
      </div>
      <br>
      <br>
      <div class="daily-forecast">

        <div class="details">
          <div class="parameter">
            <span class="parameter-name">Saat</span>
            <span class="parameter-value">{{countdown?.hours}}</span>
          </div>
          <div class="parameter">
            <span class="parameter-name">Dakika</span>
            <span class="parameter-value">{{countdown?.minutes}}</span>
          </div>
          <div class="parameter">
            <span class="parameter-name">Saniye</span>
            <span class="parameter-value">{{countdown?.seconds}}</span>
          </div>

        </div>
        <br>
        <button (click)="uzat()" class="btn btn-hero-success btn-demo" style="float:right">Uzat</button>
      </div>
    </div>

    <div *ngIf="durum == 'gelecekRandevu'">
      <div class="location">
        <span>Gelecek Randevunuza Kalan</span>
      </div>
      <br>
      <br>
      <div class="daily-forecast">

        <div class="details">
          <div class="parameter">
            <span class="parameter-name">Saat</span>
            <span class="parameter-value">{{countdown?.hours}}</span>
          </div>
          <div class="parameter">
            <span class="parameter-name">Dakika</span>
            <span class="parameter-value">{{countdown?.minutes}}</span>
          </div>
          <div class="parameter">
            <span class="parameter-name">Saniye</span>
            <span class="parameter-value">{{countdown?.seconds}}</span>
          </div>

        </div>
        <br>
        <button (click)="toggleDetay()" class="btn btn-hero-danger btn-demo" style="float:right">Detay</button>
      </div>
    </div>

    <div *ngIf="durum == 'randevuYok'">
      <div class="location">
        <span>Gelecek Randevunuz Yoktur</span>
      </div>
      <br>
      <br>
      <div class="daily-forecast">
        <br>
        <button (click)="navigateToRandevu()" class="btn btn-hero-success btn-demo" style="float:right">Randevu Al</button>
      </div>
    </div>

  </nb-card-body>

  <nb-card-body *ngIf="detay">
    <div class="location">
      <span>Randevu Detayınız</span>
    </div>
    <br>
    <br>
    <div class="daily-forecast">

      <div class="details">
        <div class="parameter">
          <span class="parameter-name">Tarih</span>
          <span class="parameter-value">{{randevuBildirim?.tarih}}</span>
        </div>
        <div class="parameter">
          <span class="parameter-name">Saat</span>
          <span class="parameter-value">{{randevuBildirim?.saat}}</span>
        </div>
        <div class="parameter">
          <span class="parameter-name">E-mail</span>
          <span class="parameter-value">{{user.email}}</span>
        </div>

      </div>
      <br>
      <button (click)="toggleDetay()" class="btn btn-hero-danger btn-demo" style="float:right">Geri Dön</button>
    </div>
  </nb-card-body>


</nb-card>
