<nb-card size="medium">

  <nb-card-body>
    <div class="location">
    </div>
    <div class="date">
    </div>


      <div class="daily-forecast">
        <div class="info">
          <div class="temperature">
            <span>
              <button class="btn btn-hero-warning btn-demo" [routerLink]="['/pages/randevu']">
                <span>
                  Rezervasyon
                </span>
                <div class="icon" style="color:white;">
                  <i class="nb-compose"></i>
                </div>
              </button>
            </span>
          </div>

        </div>

      </div>


  </nb-card-body>
</nb-card>
