<div class="row">
  <div class="col-xxxl-9 col-xxl-9 col-md-12">
    <ngx-courts-preview></ngx-courts-preview>
  </div>
  <div class="col-xxxl-3 col-xxl-3 col-md-4">
    <ngx-hava-durumu></ngx-hava-durumu>
    <nb-card size="xsmall"></nb-card>
  </div>
</div>

<div class="row">

  <div class="col-xxxl-9 col-xxl-9 col-md-12">
    <ngx-tanitim></ngx-tanitim>
  </div>
  <div class="col-xxxl-3 col-xxl-3 col-md-12">
    <ngx-randevu-card></ngx-randevu-card>
  </div>

</div>

<div class="row">
  <div class="col-xxxl-9 col-xxl-9 col-md-12">
    <ngx-uye-gorusleri></ngx-uye-gorusleri>
  </div>
  <div class="col-xxxl-3 col-xxl-3 col-md-12">
    <ngx-rezervasyon-card></ngx-rezervasyon-card>
  </div>

</div>
