<div class="row">
  <div class="col-xxxl-9 col-xxl-9 col-md-12">
    <ngx-courts-preview></ngx-courts-preview>
  </div>
  <div class="col-xxxl-3 col-xxl-3 col-md-12">
    <ngx-hava-durumu></ngx-hava-durumu>
    <ngx-geri-sayim></ngx-geri-sayim>
  </div>
</div>

<div class="row">
  <div class="col-xxxl-3 col-md-6">
    <ngx-islem-card title="Kirala" type="warning" aciklama="İstediğiniz vakitte.">
      <i class="nb-edit" [routerLink]="['/pages/randevu']"></i>
    </ngx-islem-card>
  </div>

  <div class="col-xxxl-3 col-md-6">
    <ngx-islem-card title="Rezervasyon" type="success" aciklama="Üyelik zorunlu.">
      <i class="nb-compose" [routerLink]="['/pages/randevu']"></i>
    </ngx-islem-card>
  </div>

  <div class="col-xxxl-3 col-md-6">
    <ngx-islem-card title="Yorum Yap" type="info" aciklama="Tecrübelerinizi paylaşın.">
      <i class="nb-email" (click)="yorumModal()"></i>
    </ngx-islem-card>
  </div>

  <div class="col-xxxl-3 col-md-6">
    <ngx-islem-card title="İletişim" type="primary" aciklama="Bize yazın.">
      <i class="nb-phone"></i>
    </ngx-islem-card>
  </div>
</div>

<div class="row">

  <div class="col-xxxl-9 col-xxl-9 col-md-12">
    <ngx-tanitim></ngx-tanitim>
  </div>
  <div class="col-xxxl-3 col-xxl-3 col-md-12">
    <ngx-duyuru></ngx-duyuru>
  </div>

</div>

<div class="row">
  <div class="col-xxxl-9 col-xxl-9 col-md-12">
    <ngx-uye-gorusleri></ngx-uye-gorusleri>
  </div>
  <div class="col-xxxl-3 col-xxl-3 col-md-12">
    <ngx-rezervasyon-card (click)="yorumModal()"></ngx-rezervasyon-card>
  </div>

</div>
