<nb-card size="medium">
  <nb-card-body>
    <div class="location">
      <span>Istanbul</span>
    </div>
    <div class="date">
      <span>{{forecast[0].date.weekday_short}} {{forecast[0].date.day}} {{forecast[0].date.monthname_short}}</span>
    </div>
    <div class="daily-forecast">
      <div class="info">
        <div class="temperature">
          <span>{{forecast[0].temperature.current}}&deg;</span>
        </div>
        <div class="icon">
          <img [src]="forecast[0].logo" alt="">
          <!-- <i class="ion-ios-sunny-outline"></i> -->
        </div>
      </div>
      <div class="details">
        <div class="parameter">
          <span class="parameter-name">max</span>
          <span class="parameter-value">{{forecast[0].temperature.max}}&deg;</span>
        </div>
        <div class="parameter">
          <span class="parameter-name">min</span>
          <span class="parameter-value">{{forecast[0].temperature.min}}&deg;</span>
        </div>
        <div class="parameter">
          <span class="parameter-name">wind</span>
          <span class="parameter-value">{{forecast[0].wind}} km/h</span>
        </div>
        <div class="parameter">
          <span class="parameter-name">hum</span>
          <span class="parameter-value">{{forecast[0].hum}} %</span>
        </div>
      </div>
    </div>
    <div class="weekly-forecast">
      <div class="day" *ngFor="let fr of forecast | slice:1; let i = index;">
        <span class="caption">{{fr?.date.weekday_short}}</span>
        <img [src]="fr.logo" alt="">
        <span class="temperature">{{fr.temperature.current}}&deg;</span>
      </div>
    </div>
  </nb-card-body>
</nb-card>
